/* seletor::pseudo-elemento{
    propriedade: valor;
} */

.first-letter::first-letter{
    color: coral;
}

.first-line::first-line{
    color: coral;
}

.first-line::first-letter{
    color: blue;
}

li::marker{
    color: red;
    font-size: 23px;
}

.before::before{
    content: "";
    background: url(image/logo.jpg) center center no-repeat;
    display: inline-block;
    width: 85px;
    height: 85px;
}

.after::after{
    content: url(image/logo.jpg);
}